h1,h2,h3,p {
  font-family: Helvetica;
}

#banner h1 {
  font-size: 100px;
  font-weight: bold;
  color: khaki;
  text-align: center;
  background-image: url("pattern.jpeg");
}

#brushes h2 {
  background-color: mediumspringgreen;
}

h2 {
  font-size: 32px;
  font-weight: bold;
  color: white;
}

.price {
  color: blue;
  font-weight: bold;
}

#frames h2 {
  background-color: lightcoral;
}

#paint h2 {
  background-color: skyblue;
}
